services:
  rule-engine:
    image: ${IMAGE_NAME}
    container_name: rule-engine
    restart: unless-stopped

    ports:
      - "0.0.0.0:${APP_PORT:-8050}:${APP_PORT-8050}"

    environment:
      APP_ENV: prod
      APP_PORT: ${APP_PORT:-8050}

      REMOTE_HOST: ${REMOTE_HOST}

      # Database Settings
      DB_USER: "${DB_USER}"
      DB_PASSWORD: "${DB_PASSWORD}"
      DB_HOST: "${DB_HOST}"
      DB_PORT: "${DB_PORT:-5432}"
      DB_NAME: "${DB_NAME}"

      REDIS_PORT: ${REDIS_PORT}
      REDIS_PASSWORD: ${REDIS_PASSWORD}

      # External Service
      BE_ROUTER_HOST: ${BE_ROUTER_HOST}
      BE_ROUTER_PORT: ${BE_ROUTER_PORT}

      GM_HOST: ${GM_HOST}
      GM_PORT: ${GM_PORT}

      STATE_MANAGER_HOST: ${STATE_MANAGER_HOST}
      STATE_MANAGER_PORT: ${STATE_MANAGER_PORT}

      SCENARIO_SERVICE_HOST: ${SCENARIO_SERVICE_HOST}
      SCENARIO_SERVICE_PORT: ${SCENARIO_SERVICE_PORT}

      RULE_ENGINE_HOST: ${RULE_ENGINE_HOST}
      RULE_ENGINE_PORT: ${RULE_ENGINE_PORT}

      LLM_GATEWAY_HOST: ${LLM_GATEWAY_HOST} 
      LLM_GATEWAY_PORT: ${LLM_GATEWAY_PORT} 

      WEB_HOST: ${WEB_HOST}
      WEB_PORT: ${WEB_PORT}
      # LLM Settings
      LLM_MODEL_NAME: "${LLM_MODEL_NAME:-gpt-4o-mini}"

    networks:
      - platform-net

networks:
  platform-net:
    name: platform-net
    external: true
